a
{
    text-decoration: none;
}

.content
{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: bounce 1s 1 0s linear;
}
.content-text h1
{
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 2px;
}
.content-text h1 span
{
    font-size: 85px;
}
.content-text p
{
    font-size: 18px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
@keyframes bounce{
    0%{
        transform: translateY(-500px);
        }
    25%{
        transform: translateY(-250px);
        }
    50%{
        transform: translateY(0px);
        }
    65%{
        transform: translateY(-80px);
        }
    80%{
        transform: translateY(0px);
        }
    90%{
        transform: translateY(-40px);
        }
    100%{
        transform: rotate(xx) translateY(0px);
        }
}
/* --------------------Index--------------------- */
@media only screen and (max-width: 768px)
{
    .content
    {
        justify-content: top;
    }
    .content .content-text h1
    {
        font-size: 45px;
    }
    .content .content-text span
    {
        font-size: 70px;
        font-weight: 400;
    }
    .content .content-text p
    {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .content .btn
    {
        padding: 8px 45px;
        font-size: 15px;
    }
}
@media only screen and (max-width: 490px)
{
    .content .content-text h1
    {
        font-size: 30px;
    }
    .content .content-text span
    {
        font-size: 50px;
    }
    .content .content-text p
    {
        font-size: 12px;
        margin-bottom: 15px;
    }
    .content .btn
    {
        padding: 2px 25px;
        font-size: 13px;
    }
}