*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
body
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(./images/main-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}
a
{
    text-decoration: none;
}
.nav-bar,.logo a,.nav-items ul
{
    display: flex;
}
.nav-bar
{
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
}
.logo a img
{
    margin-right: 15px;
    width: 50px;
}
.logo a
{
    align-items: center;
}
.logo h2
{
    font-size: 30px;
    font-weight: 400;
}
header a
{
    text-decoration: none;
}
.nav-items ul 
{
    display: flex;
    list-style: none;
    height: 100%;
    justify-content: space-around;
}
.nav-items ul a
{
    margin: 0 15px;
}
.nav-links
{
    padding-bottom: 5px;
}
.nav-links:hover
{
    color:#2F80ED;
}
.active
{
    border-bottom: 2px solid #2F80ED;
}
.nav-icon
{
    display: none;
    font-size: 30px;
    cursor: pointer;
}
.btn
{
    display: flex;
    align-items: center;
    padding: 10px 65px;
    background: #006eff;
    border-radius: 25px;
    font-size: 18px;
    border: 2px solid #006eff;
    
}
.btn:hover
{
    background: #2F80ED;
    border: 2px solid #2F80ED;
}
.footer
{
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    height: 8vh;
    width: 100vw;
    padding: 2% 5%;
    background-color: #00000060;
    align-items: center;
    justify-content: center;
}
.social-links
{
    position: absolute;
    text-align: right;
    margin-right: 5%;
    right: 0;
}
.social-links ion-icon
{
    color: #FFFFFF40;
    font-size: 15px;
    margin: 0 10px;
}
.twitter:hover
{
    color: #00acee;
}
.facebook:hover
{
    color: #3b5998 ;
}
.instagram:hover
{
    color: #fc2e72;
}
.copyrights
{
    width: 50%;
    margin: 8px 0;
    font-size: 10px;
    text-align: center;
}
.copyrights p
{
    color: #FFFFFF40;
}

@media only screen and (max-width: 768px)
{
    header .nav-bar
    {
        padding-left:5%;
        padding-right:5%;
        position: relative;
    }
    .nav-bar .logo img
    {
        width: 40px;
        margin-right: 8px;
    }
    .nav-bar .logo h2
    {
        font-size: 28px;
    }
    .nav-items
    {
        margin-top: 35px;
        position: absolute;
        text-align: center;
        width: 85%;
        right: 8%;
        bottom: -180%;
    }
    .nav-icon
    {
        display: block;
    }
    .close
    {
        display: none;
    }
    .open
    {
        display: block;
    }
    .nav-items ul
    {
        display: flex;
        flex-direction: column;
    }
    .nav-items ul li
    {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        background:#00000060 ;
        border: 0.5px solid #ffffff20;
    }
    .copyrights
    {
        width:100%;
    }
}
